---
import "../../styles/scales.css";
import "../../styles/colors.css";
import "../../styles/fonts.css";
import "../../styles/reset.css";
import "../../styles/vars.css";
import "../../styles/animations.css";
import "../../styles/entry.animations.css";
import css from "./Layout2.module.css";
import { ViewTransitions } from "astro:transitions";
import Footer from "src/components/shared/Footer/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class={css.body}>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
