.movieCards {
  display: grid;
  gap: var(--lg);

  .cards {
    display: grid;
    gap: var(--md);
    grid-template-columns: repeat(auto-fit, 240px);
    justify-content: center;
  }
}

.err {
  display: grid;
  place-content: center;
  height: 100%;
}
