---
import css from "./Card.module.css";
import Quotes from "./Quotes.astro";

interface Props {
  content: string;
}

const { content } = Astro.props;
---

<div class={css.card}>
  <Quotes />

  <p>
    {content}
  </p>
</div>
