:root {
  scrollbar-gutter: stable;
  --mw-layout: 1920px;
}

.body {
  display: grid;
  grid-template-rows: auto 1fr auto;

  main {
    padding: var(--lg) var(--md);
    max-width: var(--mw-layout);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
