.about {
  min-height: 50dvh;

  display: grid;
  place-content: center;

  .container1 {
    max-width: 644.3px;

    display: grid;
    gap: var(--lg);
    font-size: 1.2rem;

    animation: entryByCenter linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 30%;

    .logo {
      justify-self: center;
    }

    p {
      padding: var(--md);
      @media (min-width: 375px) and (max-width: 767px) {
        text-align: center;
      }
    }
  }
}

@keyframes entryByCenter {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
