---
import Movies from "@views/peliculas/Movies/Movies";
import Layout from "../layouts/Layout/Layout.astro";
import { ROUTER } from "./router";
---

<Layout title={ROUTER.peliculas.display}>
  <main>
    <Movies client:only="react" />
  </main>
</Layout>

<style>
  main {
    position: relative;
    max-width: var(--mw-layout);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
</style>
