---
import SurfMovies from "src/components/links/SurfMovies/SurfMovies.astro";
import css from "./Footer.module.css";
---

<footer class={css.footer}>
  <p><SurfMovies /></p>
  <p>©️Casi todos los derechos reservados.</p>
</footer>
