.btn {
  min-height: var(--h-inputs);
  border-color: transparent;
  border-radius: var(--sm);
  background-color: var(--primary);
  color: var(--white);
  padding: 0 var(--lg);

  &:active:not(:disabled) {
    transform: scale(0.95);
  }

  &:disabled {
    background-color: transparent;
    color: var(--grey);
    border: var(--border);
    cursor: not-allowed;
  }
}
