.filters {
  display: flex;
  gap: var(--md);
  justify-content: center;
  flex-wrap: wrap;
  margin-top: var(--lg);

  @media (min-width: 375px) and (max-width: 767px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 var(--lg);
  }
}
